/* ErrorPage.css */
.error_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    text-align: center;
  }
  
  .error_message {
    font-size: 24px;
    color: black;

    margin-top: 16px;
  }
  
  .error_icon {
    transform: scale(4);
    color: #ff4d4f; 
    margin-bottom: 48px;
  }
  