/* footer.css */
.footer {
    background-color: black;
    color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
  }
  
  .footer_content {
    font-size: 12px;
  }
  
  .footer_content_text {
    margin: 0;
  }
  .footer_content_text_link{
    color: white;
    margin-right: 4px;
    cursor: pointer;

  }
  