/* //cards section// */

.custom-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.custom-card-container {
  padding: 0px !important;
  padding-bottom: 16px !important;
}
.custom-card-top {
  background: #15151e;
  height: 80px;
  max-width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 26px;
  transition: 0.2s all;
  position: relative;
}

.custom-card-top:hover {
  font-size: 32px;
  transition: 0.2s all;
}

.custom-card-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 12px;
}
.custom-card-mid-team{
  color: #e10600 !important;
}
.custom-card-mid-nat{
  color: #15151e !important;
}
.custom-card-subtitle-label{
  font-weight: bold;
  font-size: 12px;
}
.custom-card-subtitle {
  font-size: 10px;
}
.custom-card-date {
  font-size: 8px;
  color: gray;
}
.card_link {
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.custom-card-top-postion{
  position: absolute;
  top: 5px;
  left: 5px;
}

.custom-card-btn {
  background-color: #e10600 !important;
  color: white !important;
  font-family: "Racing Sans One", serif !important;
  font-weight: 200 !important;
}
